

<div class="container">

  <h1>Welcome to Mozayik Village</h1>

<div class="resourcebuttonscontainer">

  <div class="resourcebutton">
  <%= button_to "Animals", all_animals_path, :class => "button1", :method => :get %>
  </div>

  <div class="resourcebutton">
  <%= button_to "Vehicles", all_vehicles_path, :class => "button1", :method => :get %>
  </div>

  <div class="resourcebutton">
  <%= button_to "Materials", materials_path, :class => "button1", :method => :get %>
  </div>

  <div class="resourcebutton">
  <%= button_to "Other Items", other_path, :class => "button1", :method => :get %>
  </div>

</div>

<div class="resourcebutton">
<%= button_to "All Resources", all_resources_path, :class => "button1", :method => :get %>
</div>

</div>
